-- progress_entries tablosuna time_spent sütunu ekle
ALTER TABLE progress_entries ADD COLUMN time_spent INTEGER DEFAULT 0;

-- Sütunun eklendiğini kontrol et
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'progress_entries' 
AND column_name = 'time_spent';